body {
	margin: 0;
	width: 100%;
    min-width: 240px;
    background-color:white;
    background-image:url('../uploads/images/fonds/events.png');
    background-size: cover; 
	background-repeat: no-repeat;	
	font-family: 'Berlin', "Arial";
}

@font-face {
    font-family: 'Berlin';
    src: 
	url('../uploads/font/BerlinSansFb.eot') format('eot'),
	url('../uploads/font/BerlinSansFb.ttf') format('ttf'),
	url('../uploads/font/BerlinSansFb.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/********************************* BASICS ********************************************/

.unselectable {
  -webkit-user-select: none;  /* Chrome / Safari */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */       
}

.mini {
		display: none;
	}

.hidden {
	display :none;
}	

.show {
	display: block;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.mobile {
	display: none;
}	


/****************************** NAVIGATION *************************************/

header {
	position:relative;
	z-index:10;
	display: flex;
	background-color: rgba(246, 201, 23, 1);
	padding:10px 0px;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
    height: 30px;
    position:fixed;
    top: 0;
    width: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}	

nav div, nav button {
	padding: 0px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size:15px;
}

nav button {
    font-family: 'Berlin', "Arial";
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgba(0,0,0,0);
}

nav div i {
	margin-left: 5px;
}

.flags {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flags img {
	width: 25px;
	box-shadow: 0px 0px 1px black;
	border-radius: 100px;
}	

.flag {
		display: block;
		margin: 0 7px;
}

input[type=text], select {
        width: 100%;
        padding: 2px 5px;
        display: inline-block;
        box-sizing: border-box;
        border: none;
        margin-left: 5px;
        background-color: rgba(0,0,0,0);
}
    
input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        padding: 7px 10px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
}

/********************************MAIN***********************************/

.part1{
    display:flex;
    margin: 5vw auto 0 auto;
}

.part1 h1 {
	font-size: 7vw;
	width: 50%;
	text-align: left;
	letter-spacing:1rem;
}

.search {
	position: fixed;
	top: 60px;
	left: 40px;
	display: flex;
	font-size: 10px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	align-items: center;
	width: 10vw;
	padding: 0px 20px;
	justify-content: space-between;
}

.titre {
    display:flex;
    justify-content:space-between;
    width:90%;
    margin: 5vw auto 0 auto;
}

.logo {
    width:15vw;
    height:15vw;
}

.part2 {
    display:flex;
	margin: 6vw 6vw 0 auto;
	justify-content:space-between;
	width:80%;
}

.boxevent {
	display:flex;
	background-color: #D3D3D3;
	width:290px;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

.dateshare {
	display:flex;
	justify-content:space-between;
	height:20px;
	flex-flow:row wrap;
}

.date {
	position:relative;
	z-index:1;
	background-color:yellow;
	height:30px;
}

.date p {
	margin:0 15px;
}

.share {
	position:relative;
	z-index:1;
	width:40px;
	border-radius:160px;
}

.sharebutton {
	width:5vw;
	height:5vw;
}

.evenement {
    width:220px;
    height:250px;
	background-color:#EFEFEF;
	padding:0 15px 0 15px;
}

.evenement p {
	text-align:justify;
	font-size:12px;
}

.ecart1 {
	height:20px;
}

.part3 {
	display:flex;
	position:relative;
	z-index:5;
}

.personnage1 {
	height:25vw;
	width:25vw;
	display:flex;
}

.part4 {
    display:flex;
	margin:0 auto;
	justify-content:space-between;
	width:80%;
}

/**************************FOOTER*************************/

footer {
	display:flex;
	justify-content:space-between;
	margin: 17vw 10vw 3vw 10vw;
}