body {
	margin: 0;
	width: 100%;
	min-width: 240px;
	background-color: white;
	font-family: 'Berlin', "Arial", sans-serif;
}

@font-face {
    font-family: 'Berlin';
    src: 
	url('../uploads/font/BerlinSansFb.eot') format('eot'),
	url('../uploads/font/BerlinSansFb.ttf') format('ttf'),
	url('../uploads/font/BerlinSansFb.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/***************** BASICS **************************************************************************************************************/

.unselectable {
  -webkit-user-select: none;  /* Chrome / Safari */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */       
}

.mini {
		display: none;
	}

.hidden {
	display :none;
}	

.show {
	display: block;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.mobile {
    display: none;
}

.current {
	color: white;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}


.shadow {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	transition: box-shadow 350ms;
}

.shadow:hover {
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
}

/***************** NAVIGATION **************************************************************************************************************/

header {
	display: flex;
	background-color: rgba(246, 201, 23, 1);
	padding:10px 0;
	justify-content: space-between;
	align-items: center;
    height: 30px;
    position:fixed;
    top: 0;
	width: 100%;
	box-shadow: 0 5px 16px 0 rgba(0,0,0,0.1);
	z-index: 50;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 30px;
}	

nav div, nav button {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    transition: font-weight .4s ease-in-out;
}

nav div:hover, nav button:hover {
    font-weight: 900;
    cursor: pointer;
} 

nav button, button.mini {
    font-family: 'Berlin', "Arial", sans-serif;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgba(0,0,0,0);
}


nav .dropbtn i {
	margin-left: 5px;
	font-size: 15px;
}

.dropdown {
	position: relative;
    background-color: #f1f1f1;
    width: 16vw;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	margin-top: 60px;
	z-index: 800;
	line-height: 30px;
	padding: 25px 0 10px 0;
}

.flags {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flags img {
	width: 25px;
	border-radius: 100px;
}


.flag {
		display: block;
		margin: 0 7px;
	}	

input[type=text], select {
        width: 100%;
        padding: 2px 5px;
        display: inline-block;
        box-sizing: border-box;
        border: none;
        margin-left: 5px;
        background-color: rgba(0,0,0,0);
    }
    
input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        padding: 7px 10px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
	}
	

button.mini {
	display: block;
	position: absolute;
	top: 15px;
	left: 1vw;
	z-index: 50000;
	}

.minimenu {
	width: 50%;
	background-color: rgba(246, 201, 23, 1);
	line-height: 2vw;
	position: absolute;
	left: 0vw;
	top: 0vw;
	min-height: 100vh;
	padding-top: 15%;
}

.minimenu div {
	padding: 10px;
}

.minimenu div p {
	padding-left: 15px;
	font-size: 1.5vw;
}

.minimenu div a {
	padding-left: 15px;
	font-size: 2.5vw;
}

/***************** MAIN **************************************************************************************************************/

main {
	height: 280vw;
	width: 100%;
	background-image: url("../uploads/images/fonds/accueil.png");
	background-color: white;
	background-size: 100%; 
	background-repeat: no-repeat;	
	display: flex;
	align-items: center;
	flex-direction: column;
}	


.search {
	position: fixed;
	top: 60px;
	left: 40px;
	display: flex;
	font-size: 10px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	align-items: center;
	width: 10vw;
	padding: 0 20px;
	justify-content: space-between;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	z-index: 20;
}


/***************** PART 1  **************************************************************************************************************/

.part1 {
	display: flex;
	width: 70%;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto 0 auto;
	height: 95vh;
}

.logo {
	width: 30vw;
	height: 30vw;
}

.title {
	width: 45%;
	padding-left: 10%;
}	

.part1 h1 {
	font-size: 3vw;
	width: 100%;
	text-align: right;
}

.part1 p {
	font-size: 2vw;
	width: 95%;
	text-align: justify;
    text-justify: inter-word;
	margin: 0 0 0 15px;
}

.redarrow {
	margin: 0 50%;
	width: 5vw;
	position: relative;
	top: -7vw;
	border-radius: 100px;
}	

/***************** PART 2 **************************************************************************************************************/

.part2 {
	margin-top:  0 ;
	display: flex;
	width: 80%;
	justify-content: space-between;
	align-items: center;
	padding: 3vw 0 0 0;
}

/** partie texte **/

.part2 .text {
	width: 45%;
    text-align: justify;
}

.part2 h2 {
    line-height: 100%;
    font-size: 2vw;
}

.part2 p {
    font-size: 1.5vw;
}

/** partie carte **/

.part2 .map {
	height: 50vw;
	background-image: url("../uploads/images/alsace.png");
	background-color: rgba(0,0,0,0);
	background-size: 100%; 
	background-position: center;
	background-repeat: no-repeat;	
	overflow: hidden;
}

.map a {
	background-color:rgba(255,255,255,0.8);
	border-radius: 100px;
	padding: 5px 10px;
	color: black;
	font-size: 1.5vw;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	transition: box-shadow 500ms;
}

.map a:hover {
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.6);
}

.strasbourg {
	position: relative;
	top:28%;
	left:45%;
}

.saverne {
	position: relative;
	top:30%;
	left:25%;
}

.selestat{
	position: relative;
	top:45%;
	left:0%;
}

.colmar {
	position: relative;
	top:43%;
	left:-55%;
}

.mulhouse {
	position: relative;
	top:67%;
	left:-75%;
}

/** partie compteur **/

.compteur {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.compteur div {
	width: 20%;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.compteur div .number {
	background: linear-gradient(180deg, rgba(246, 201, 23, 1) 50%, rgb(247, 215, 32) 50%);
	border-radius: 10px;
	width: 8vw;
	padding: 8px 0;
	text-align: center;
	font-size: 3vw;
	margin: 10px 0 5px 0 ;
}

.compteur div .name {
	font-size: 2vw;
}

/** partie bouton **/

.more {
	width: 100%;
}

.knowmore {
	border: 5px solid rgba(246, 201, 23, 1);
	padding: 10px 20px;
	border-radius: 10px;
	float: right;
	font-size: 2vw;
	position: relative;
	right: 5vw;
	top: -12vw;
	background-color: white;
}

/***************** PART 3 **************************************************************************************************************/

.part3 div {
	margin-left: 5vw;
	margin-top: 3vw;
}

.part3 .left {
	margin-left: 50vw;
}

.part3 div p {
	width: 30vw;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
	padding: 40px 20px 40px 20px;
	font-size: 1.5vw;
	margin-left: 4vw;
	text-align: justify;
	box-shadow: 0 0 20px rgba(200, 200, 200, 0.7);
}

.part3 div h2 {
	position: relative;
	top:4vw;
	margin:0;
	font-size: 4vw;
	text-shadow: 1px 1px 10px white;
}

.part3 div a {
	position: relative;
	top: 1vw;
	left: 40%;
	font-size: 1.5vw;
	padding: 5px 10px;
	border-radius: 15px;
	color: black;
	border: 3px solid  rgba(246, 201, 23, 1);
	background-color:rgba(246, 201, 23, 1);
}

/***************** FOOTER **************************************************************************************************************/

.footer {
	margin-top: 47%;
	width:100%;
}

.footer .infos {
	display:flex;
	padding: 0 5vw;
	justify-content: space-between;
	align-items: center;
}

.footer div {
	padding: 0 30px;
}

.footer .menu {
	background-color: rgba(246, 201, 23, 1);
	padding: 30px 20px;
	display: flex;
	margin-top: 5vw;
	margin-bottom: 5vw;
	justify-content: center;
}

.footer .menu p {
	line-height: 20px;
}

.infos h3, .infos p{
	margin: 0;
	line-height: 20px;
}

.infos h3{
    font-size: 1.8vw;
}

.infos p{
    font-size: 1.5vw;
}

.sponsors {
	display: flex;
	align-items:center;
	justify-content: center;
	margin-top: 15px;
	padding: 20px 25px;
}

.sponsors p {
	border: 3px solid rgba(246, 201, 23, 1);
	padding: 5px 10px;
	border-radius: 10px;
}

.menu p:before {
	font-family: "Font Awesome 5 Free", sans-serif;
	content: "\f105";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
}

.sponsor {
	width: 10%;
	margin: 0 15px;
}

.mentions {
	display: flex;
	justify-content: center;
}

.footer p {
	font-size: 1vw;
	line-height: 1vh;
	margin: 10px 0;
}

.menu h4 {
	margin : 0 0 15px 0;
	font-size: 1.5vw;
	line-height: 1.3vw;
}

/***************** RESPONSIVE **************************************************************************************************************/


/** TABLETTE ****************************/

@media only screen and (max-width: 850px) {

	nav {
		display: none;
		justify-content: space-between;
		align-items: center;
	}	
	
	.mini {
        display: block;
        margin-left: 25px;
	}
	
	.menu {
		width: 25px;
	}
	
	.fa-bars {
		font-size: 20px;
	}

	main {
        height: 570vw;
        width: 100%;
        margin-top: -8vw;
        padding-top: 15%;
        background-image: url("../uploads/images/fonds/mobile.png");
        background-color: white;
        background-size: 100%; 
        background-repeat: no-repeat;	
    }	

    
    .search {
        position: fixed;
        top: 15px;
        left: 100px;
        margin: 0 auto;
        z-index: 50;
        display: flex;
        font-size: 10px;
        background-color: rgba(255,255,255,0.5);
        border-radius: 10px;
        align-items: center;
        width: 100px;
        padding: 0 20px;
        justify-content: space-between;
    }

    h2 {
        font-size: 2vw;
    }
    
    p{
        font-size: 1.7vw;
    }

	.part1 {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto 0 auto;
		height: 50vh;
	}

	.logo {
		width: 50vw;
		height: 50vw;
	}
	
	.title {
        width: 90%;
        padding-left: 6vw;
	}	
	
	.part1 h1 {
		font-size: 4vw;
        padding: 0;
        text-align: justify;
        margin:0;
        margin-bottom: 1vw;
	}
	
	.part1 p {
		font-size: 3.5vw;
		text-align: justify;
        padding:0;
        margin: 0;
        width:90%;
	}
	
	.redarrow {
		width: 10vw;
		border-radius: 100px;
        margin-top:  5vw;
    }

    /* PART 2 */

    .part2 {
        margin-top:  0 ;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 3vw 0 0 0;
    }

    /** partie texte **/

    .part2 .text {
        width: 80%;
        text-align: justify;
    }

    .part2 h2 {
        line-height: 100%;
        font-size: 4vw;
    }

    .part2 p {
        font-size: 3vw;
    }

    /** partie carte **/

    .part2 .map {
        height: 75vw;
        background-image: url("../uploads/images/alsace.png");
        background-color: rgba(0,0,0,0);
        background-size: 100%; 
        background-position: center;
        background-repeat: no-repeat;	
        overflow: hidden;
        margin: 3vw;
    }

    .map a {
        background-color:rgba(255,255,255,0.8);
        border-radius: 100px;
        padding: 5px 10px;
        color: black;
        font-size: 3.5vw;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        transition: box-shadow 500ms;
    }

    .map a:hover {
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.6);
    }

    .strasbourg {
        position: relative;
        top:20%;
        left:45%;
    }

    .saverne {
        position: relative;
        top:15%;
        left:25%;
    }

    .selestat{
        position: relative;
        top:40%;
        left:0%;
    }

    .colmar {
        position: relative;
        top:35%;
        left:-55%;
    }

    /** partie compteur **/

    .compteur {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .compteur div {
        width: 35%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .compteur div .number {
        background: linear-gradient(180deg, rgba(246, 201, 23, 1) 50%, rgb(247, 215, 32) 50%);
        border-radius: 10px;
        width: 20vw;
        padding: 8px 0;
        text-align: center;
        font-size: 7vw;
        margin: 10px 0 5px 0 ;
    }

    .compteur div .name {
        font-size: 4vw;
    }

    /** partie bouton **/

    .more {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15vw;
    }

    .knowmore {
        border: 5px solid rgba(246, 201, 23, 1);
        padding: 2vw 3vw;
        border-radius: 10px;
        font-size: 4vw;
        background-color: white;
        right: 0;
        top:0;
    }

    /** PART 3 **/

    .part3 {
        margin-top: 5vw;
    }

    .part3 div, .part3 .left {
        margin: 3vw 5vw 3vw 5vw ;
    }

    .part3 div p {
        width: 60%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        padding: 40px 20px 40px 20px;
        font-size: 3vw;
        text-align: justify;
        box-shadow: 0 0 20px rgba(200, 200, 200, 0.7);
    }

    .part3 div h2 {
        position: relative;
        top:3vw;
        left: 8vw;
        margin:0;
        font-size: 7vw;
        text-shadow: 1px 1px 10px white;
    }

    .part3 div a {
        position: relative;
        top: 2vw;
        left: 25%;
        font-size: 3vw;
        padding: 5px 10px;
        border-radius: 15px;
        color: black;
        border: 3px solid  rgba(246, 201, 23, 1);
        background-color:rgba(246, 201, 23, 1);
    }

    /** FOOTER **/

    .footer {
        margin-top: 10%;
        width:100%;
    }

    .footer .infos {
        display:flex;
        padding: 0 5vw;
        justify-content: space-between;
        align-items: center;
        font-size: 3vw;
    }

    .footer .infos {
        display:flex;
        padding: 0 5vw;
        justify-content: space-between;
        align-items: center;
    }

    .footer div {
        padding: 0 10px;
    }

    .footer .menu {
        display: none;
    }

    .infos .titre{
        display:none;
    }

    .infos h3{
        font-size: 6vw;
        margin-bottom: 3vw;
    }

    .sponsors {
        display: flex;
        align-items:center;
        justify-content: center;
        margin-top: 15px;
        padding: 20px 15px;
    }

    .sponsors p {
        display: none;
    }

    .sponsor {
        width: 15%;
        margin: 3vw 3px;
    }

    .mentions {
        display: flex;
        justify-content: center;
    }

    .footer p {
        font-size: 5vw;
        line-height: 6vw;
        margin: 0;
    }

} 


/** MOBILE ******************************/

@media only screen and (max-width: 550px) {

    body {
            background-color: grey;
        }
		
	main {
			height: 800vw;
			width: 100%;
		}		

    .mobile {
            display: block;
    }
        
    .web {
            display: none;
    }
        
    .search {
        position: absolute;
        top: 15px;
        left: 70px;
        z-index: 50;
        font-size: 15px;
		background-color: rgba(0, 0, 0, 0);
		box-shadow: 1px 1px 5px rgba(0,0,0,0);
		width: 0;
    }

    /* MENU BURGER */
    
	.minimenu {
		width: 100%;
		background-color: rgba(246, 201, 23, 1);
		line-height: 3vw;
		position: absolute;
		left: 0vw;
		top: 50px;
		min-height: 100vh;
		padding-top: 10%;
	}

	.minimenu div {
		padding: 3vw;
	}

	.minimenu div p {
		padding-left: 15px;
		font-size: 3vw;
	}

	.minimenu div a {
		padding-left: 15px;
		font-size: 5vw;
	}

    /* PART 1 */

	.part1 {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		margin: 10vw auto 20vw auto;
		height: 60vh;
	}

	.logo {
		width: 70vw;
		height: 70vw;
		margin-left:10vw;
	}
	
	.title {
		width: 80%;
	}	
	
	.part1 h1 {
		font-size: 9vw;
		width: 100%;
		text-align: center;
        margin:0;
        margin-bottom: 1vw;
	}
	
	.part1 p {
		font-size: 5vw;
		width: 95%;
		text-align: justify;
		text-justify: inter-word;
	}
	
	.redarrow {
		display: none;
    }	
    
    /* PART 2 */

    .part2 {
        margin-top:  0 ;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 3vw 0 0 0;
    }

    /** partie texte **/

    .part2 .text {
        width: 90%;
        text-align: justify;
    }

    .part2 h2 {
        line-height: 100%;
        font-size: 5vw;
    }

    .part2 p {
        font-size: 4vw;
    }

    /** partie carte **/

    .part2 .map {
        height: 75vw;
        background-image: url("../uploads/images/alsace.png");
        background-color: rgba(0,0,0,0);
        background-size: 100%; 
        background-position: center;
        background-repeat: no-repeat;	
        overflow: hidden;
        margin: 3vw;
    }

    .map a {
        background-color:rgba(255,255,255,0.8);
        border-radius: 100px;
        padding: 5px 10px;
        color: black;
        font-size: 3.5vw;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        transition: box-shadow 500ms;
    }

    .map a:hover {
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.6);
    }

    .strasbourg {
        position: relative;
        top:20%;
        left:45%;
    }

    .saverne {
        position: relative;
        top:15%;
        left:25%;
    }

    .selestat{
        position: relative;
        top:45%;
        left:0%;
    }

    .colmar {
        position: relative;
        top:40%;
        left:-55%;
    }

    /** partie compteur **/

    .compteur {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .compteur div {
        width: 35%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .compteur div .number {
        background: linear-gradient(180deg, rgba(246, 201, 23, 1) 50%, rgb(247, 215, 32) 50%);
        border-radius: 10px;
        width: 20vw;
        padding: 8px 0;
        text-align: center;
        font-size: 7vw;
        margin: 10px 0 5px 0 ;
    }

    .compteur div .name {
        font-size: 5vw;
    }

    /** partie bouton **/

    .more {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15vw;
    }

    .knowmore {
        border: 5px solid rgba(246, 201, 23, 1);
        padding: 1vw 2vw;
        border-radius: 10px;
        font-size: 4vw;
        background-color: white;
        right: 0;
        top:0;
    }

    /** PART 3 **/

    .part3 div, .part3 .left {
        margin: 3vw 5vw 3vw 5vw ;
    }

    .part3 div p {
        width: 80%;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        padding: 40px 20px 40px 20px;
        font-size: 5vw;
        margin-left: 4vw;
        text-align: justify;
        box-shadow: 0 0 20px rgba(200, 200, 200, 0.7);
    }

    .part3 div h2 {
        position: relative;
        top:10vw;
        margin:0;
        font-size: 10vw;
        text-shadow: 1px 1px 10px white;
    }

    .part3 div a {
        position: relative;
        top: 5vw;
        left: 10%;
        font-size: 6vw;
        padding: 5px 10px;
        border-radius: 15px;
        color: black;
        border: 3px solid  rgba(246, 201, 23, 1);
        background-color:rgba(246, 201, 23, 1);
    }

    /** FOOTER **/

    .footer {
        margin-top: 10%;
        width:100%;
    }

    .footer .infos {
        display:flex;
        padding: 0 5vw;
        justify-content: space-between;
        align-items: center;
        font-size: 3vw;
    }

    .footer .infos {
        display:flex;
        padding: 0 5vw;
        justify-content: space-between;
        align-items: center;
    }

    .footer div {
        padding: 0 10px;
    }

    .footer .menu {
        display: none;
    }

    .infos .titre{
        display:none;
    }

    .infos h3{
        font-size: 6vw;
        margin-bottom: 3vw;
    }

    .sponsors {
        display: flex;
        align-items:center;
        justify-content: center;
        margin-top: 15px;
        padding: 20px 15px;
    }

    .sponsors p {
        display: none;
    }

    .sponsor {
        width: 15%;
        margin: 3vw 3px;
    }

    .mentions {
        display: flex;
        justify-content: center;
    }

    .footer p {
        font-size: 5vw;
        line-height: 6vw;
        margin: 0;
    }

} 
