div.avis {
	margin: 30px 50px;
	border: 2px solid black;
	padding: 10px;
	background-color: white;
	max-height: 100px; 
	overflow: auto;
}

p.avis {
}

.addandseeavis {
	
}

.randomcolor {
	style=\"background-color:".$rand_background."; width: 10px; height: 10px;\"
}