#work{

    .project{
        background-position: right bottom;
        background-size: contain;
        background-color: #1D1E23;
        background-repeat: no-repeat;
        color: rgb(138, 138, 138);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        box-shadow:         inset 0 0 100px 20px rgba(0,0,0,0.3);
        transition: all .3s;
        text-transform: uppercase;

        &:hover{
            color: white;
            box-shadow:         inset 0 0 0px 0px #000000;
            text-decoration: none;

            p, h5{
                text-decoration: none;
            }

        }

        .project-title{
            font-family: "Palanquin", sans-serif;
            font-weight: bold;
            font-size: 30px;
            font-style: italic;
        }
        
    }

}